<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance Price Viewer</title>
    <style>
        .center-text {
            text-align: center;
            padding: 10px 50px;
            border: 1px solid #e1e1e1;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }

        .price-display, .name-display {
            font-size: 20px;
            flex: 1;
            border-right: 1px solid #e1e1e1;
            padding: 10px;
            text-align: center;
        }

        .price-display:last-child {
            border-right: none;
        }

        .label {
            font-weight: bold;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="all-coins">
    <div class="center-text">
        <div class="name-display">
            <div class="label">이름</div>
        </div>
        <div class="price-display">
            <div class="label">거래 가격</div>
        </div>
        <div class="price-display">
            <div class="label">24시간 변동률</div>
        </div>
        <div class="price-display">
            <div class="label">24시간 거래량</div>
        </div>
    </div>

    <div class="center-text">
        <div class="name-display">비트코인</div>
        <div class="price-display" id="btc_trade_price">- USDT</div>
        <div class="price-display" id="btc_change_rate">- %</div>
        <div class="price-display" id="btc_volume">- USDT</div>
    </div>

    <div class="center-text">
        <div class="name-display">이더리움</div>
        <div class="price-display" id="eth_trade_price">- USDT</div>
        <div class="price-display" id="eth_change_rate">- %</div>
        <div class="price-display" id="eth_volume">- USDT</div>
    </div>

    <!-- 리플 -->
    <div class="center-text">
        <div class="name-display">리플</div>
        <div class="price-display" id="xrp_trade_price">- USDT</div>
        <div class="price-display" id="xrp_change_rate">- %</div>
        <div class="price-display" id="xrp_volume">- USDT</div>
    </div>

    <!-- 네오 -->
    <div class="center-text">
        <div class="name-display">네오</div>
        <div class="price-display" id="neo_trade_price">- USDT</div>
        <div class="price-display" id="neo_change_rate">- %</div>
        <div class="price-display" id="neo_volume">- USDT</div>
    </div>

    <!-- 퀀텀 -->
    <div class="center-text">
        <div class="name-display">퀀텀</div>
        <div class="price-display" id="qtum_trade_price">- USDT</div>
        <div class="price-display" id="qtum_change_rate">- %</div>
        <div class="price-display" id="qtum_volume">- USDT</div>
    </div>

    <!-- 가스 -->
    <div class="center-text">
        <div class="name-display">가스</div>
        <div class="price-display" id="gas_trade_price">- USDT</div>
        <div class="price-display" id="gas_change_rate">- %</div>
        <div class="price-display" id="gas_volume">- USDT</div>
    </div>

    <!-- 플라밍고 -->
    <div class="center-text">
        <div class="name-display">플라밍고</div>
        <div class="price-display" id="flm_trade_price">- USDT</div>
        <div class="price-display" id="flm_change_rate">- %</div>
        <div class="price-display" id="flm_volume">- USDT</div>
    </div>

    <!-- 온톨로지 -->
    <div class="center-text">
        <div class="name-display">온톨로지</div>
        <div class="price-display" id="ont_trade_price">- USDT</div>
        <div class="price-display" id="ont_change_rate">- %</div>
        <div class="price-display" id="ont_volume">- USDT</div>
    </div>

    <!-- 이오스 -->
    <div class="center-text">
        <div class="name-display">이오스</div>
        <div class="price-display" id="eos_trade_price">- USDT</div>
        <div class="price-display" id="eos_change_rate">- %</div>
        <div class="price-display" id="eos_volume">- USDT</div>
    </div>
</div> <!-- .all-coins 닫는 태그 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="text/javascript">
    const socket = io.connect('http://localhost:5000/');

    // 비트코인
    socket.on('btc_price_update', function(data) {
        document.getElementById("btc_trade_price").innerText = data.btc_price + " USDT";
    });
    socket.on('btc_ticker_update', function(data) {
        document.getElementById("btc_change_rate").innerText = data.btc_change_rate + "%";
        document.getElementById("btc_volume").innerText = data.btc_volume.toLocaleString() + " USDT";
    });

    // 이더리움
    socket.on('eth_price_update', function(data) {
        document.getElementById("eth_trade_price").innerText = data.eth_price + " USDT";
    });
    socket.on('eth_ticker_update', function(data) {
        document.getElementById("eth_change_rate").innerText = data.eth_change_rate + "%";
        document.getElementById("eth_volume").innerText = data.eth_volume.toLocaleString() + " USDT";
    });

    // 리플
    socket.on('xrp_price_update', function(data) {
        document.getElementById("xrp_trade_price").innerText = data.xrp_price + " USDT";
    });
    socket.on('xrp_ticker_update', function(data) {
        document.getElementById("xrp_change_rate").innerText = data.xrp_change_rate + "%";
        document.getElementById("xrp_volume").innerText = data.xrp_volume.toLocaleString() + " USDT";
    });

    // 네오
    socket.on('neo_price_update', function(data) {
        document.getElementById("neo_trade_price").innerText = data.neo_price + " USDT";
    });
    socket.on('neo_ticker_update', function(data) {
        document.getElementById("neo_change_rate").innerText = data.neo_change_rate + "%";
        document.getElementById("neo_volume").innerText = data.neo_volume.toLocaleString() + " USDT";
    });

    // 퀀텀
    socket.on('qtum_price_update', function(data) {
        document.getElementById("qtum_trade_price").innerText = data.qtum_price + " USDT";
    });
    socket.on('qtum_ticker_update', function(data) {
        document.getElementById("qtum_change_rate").innerText = data.qtum_change_rate + "%";
        document.getElementById("qtum_volume").innerText = data.qtum_volume.toLocaleString() + " USDT";
    });

    // 가스
    socket.on('gas_price_update', function(data) {
        document.getElementById("gas_trade_price").innerText = data.gas_price + " USDT";
    });
    socket.on('gas_ticker_update', function(data) {
        document.getElementById("gas_change_rate").innerText = data.gas_change_rate + "%";
        document.getElementById("gas_volume").innerText = data.gas_volume.toLocaleString() + " USDT";
    });

    // 플라밍고
    socket.on('flm_price_update', function(data) {
        document.getElementById("flm_trade_price").innerText = data.flm_price + " USDT";
    });
    socket.on('flm_ticker_update', function(data) {
        document.getElementById("flm_change_rate").innerText = data.flm_change_rate + "%";
        document.getElementById("flm_volume").innerText = data.flm_volume.toLocaleString() + " USDT";
    });

    // 온톨로지
    socket.on('ont_price_update', function(data) {
        document.getElementById("ont_trade_price").innerText = data.ont_price + " USDT";
    });
    socket.on('ont_ticker_update', function(data) {
        document.getElementById("ont_change_rate").innerText = data.ont_change_rate + "%";
        document.getElementById("ont_volume").innerText = data.ont_volume.toLocaleString() + " USDT";
    });

    // 이오스
    socket.on('eos_price_update', function(data) {
        document.getElementById("eos_trade_price").innerText = data.eos_price + " USDT";
    });
    socket.on('eos_ticker_update', function(data) {
        document.getElementById("eos_change_rate").innerText = data.eos_change_rate + "%";
        document.getElementById("eos_volume").innerText = data.eos_volume.toLocaleString() + " USDT";
    });
</script>
</body>
</html>