<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Price Viewer</title>
    <style>
        .center-text {
            text-align: center;
            padding: 10px 50px;
            border: 1px solid #e1e1e1;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }

        .price-display, .name-display {
            font-size: 20px;
            flex: 1;
            border-right: 1px solid #e1e1e1;
            padding: 10px;
            text-align: center;
        }

        .price-display:last-child {
            border-right: none;
        }

        .label {
            font-weight: bold;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="all-coins">
    <h2>Upbit</h2>

    <!-- BTC -->
    <div class="center-text">
        <div class="name-display">비트코인</div>
        <div class="price-display" id="KRW-BTC_trade">- KRW</div>
        <div class="price-display" id="KRW-BTC_change_rate">- %</div>
        <div class="price-display" id="KRW-BTC_volume">- KRW</div>
        <div class="price-display" id="KRW-BTC_premium">- % 김프</div>
    </div>

    <!-- ETH -->
    <div class="center-text">
        <div class="name-display">이더리움</div>
        <div class="price-display" id="KRW-ETH_trade">- KRW</div>
        <div class="price-display" id="KRW-ETH_change_rate">- %</div>
        <div class="price-display" id="KRW-ETH_volume">- KRW</div>
        <div class="price-display" id="KRW-ETH_premium">- % 김프</div>
    </div>

    <!-- XRP -->
    <div class="center-text">
        <div class="name-display">리플</div>
        <div class="price-display" id="KRW-XRP_trade">- KRW</div>
        <div class="price-display" id="KRW-XRP_change_rate">- %</div>
        <div class="price-display" id="KRW-XRP_volume">- KRW</div>
        <div class="price-display" id="KRW-XRP_premium">- % 김프</div>
    </div>

    <h2>Binance</h2>
    
    <!-- BTC -->
    <div class="center-text">
        <div class="name-display">비트코인</div>
        <div class="price-display" id="btc_price">- USDT</div>
        <div class="price-display" id="btc_change_rate">- %</div>
        <div class="price-display" id="btc_volume">- USDT</div>
    </div>

    <!-- ETH -->
    <div class="center-text">
        <div class="name-display">이더리움</div>
        <div class="price-display" id="eth_price">- USDT</div>
        <div class="price-display" id="eth_change_rate">- %</div>
        <div class="price-display" id="eth_volume">- USDT</div>
    </div>

    <!-- XRP -->
    <div class="center-text">
        <div class="name-display">리플</div>
        <div class="price-display" id="xrp_price">- USDT</div>
        <div class="price-display" id="xrp_change_rate">- %</div>
        <div class="price-display" id="xrp_volume">- USDT</div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="text/javascript">
    const socket = io.connect('http://localhost:5000/');

    // Upbit Listeners
    // BTC
    socket.on('KRW-BTC_trade', function(data) {
        document.getElementById("KRW-BTC_trade").innerText = data.price + " KRW";
    });
    socket.on('KRW-BTC_ticker', function(data) {
        document.getElementById("KRW-BTC_change_rate").innerText = data.scr + "%";
        document.getElementById("KRW-BTC_volume").innerText = data.atp24h.toLocaleString() + " KRW";
    });

    // ETH
    socket.on('KRW-ETH_trade', function(data) {
        document.getElementById("KRW-ETH_trade").innerText = data.price + " KRW";
    });
    socket.on('KRW-ETH_ticker', function(data) {
        document.getElementById("KRW-ETH_change_rate").innerText = data.scr + "%";
        document.getElementById("KRW-ETH_volume").innerText = data.atp24h.toLocaleString() + " KRW";
    });

    // XRP
    socket.on('KRW-XRP_trade', function(data) {
        document.getElementById("KRW-XRP_trade").innerText = data.price + " KRW";
    });
    socket.on('KRW-XRP_ticker', function(data) {
        document.getElementById("KRW-XRP_change_rate").innerText = data.scr + "%";
        document.getElementById("KRW-XRP_volume").innerText = data.atp24h.toLocaleString() + " KRW";
    });

    // 업비트 김프 리스너 추가
    socket.on('KRW-BTC_premium', function(data) {
        document.getElementById("KRW-BTC_premium").innerText = data.premium.toFixed(2) + "% 김프";
    });

    socket.on('KRW-ETH_premium', function(data) {
        document.getElementById("KRW-ETH_premium").innerText = data.premium.toFixed(2) + "% 김프";
    });

    socket.on('KRW-XRP_premium', function(data) {
        document.getElementById("KRW-XRP_premium").innerText = data.premium.toFixed(2) + "% 김프";
    });

    // Binance Listeners
    // BTC
    socket.on('btc_price_update', function(data) {
        document.getElementById("btc_price").innerText = data.btc_price + " USDT";
    });
    socket.on('btc_ticker_update', function(data) {
        document.getElementById("btc_change_rate").innerText = data.btc_change_rate + "%";
        document.getElementById("btc_volume").innerText = data.btc_volume.toLocaleString() + " USDT";
    });

    // ETH
    socket.on('eth_price_update', function(data) {
        document.getElementById("eth_price").innerText = data.eth_price + " USDT";
    });
    socket.on('eth_ticker_update', function(data) {
        document.getElementById("eth_change_rate").innerText = data.eth_change_rate + "%";
        document.getElementById("eth_volume").innerText = data.eth_volume.toLocaleString() + " USDT";
    });
    
    // XRP
    socket.on('xrp_price_update', function(data) {
        document.getElementById("xrp_price").innerText = data.xrp_price + " USDT";
    });
    socket.on('xrp_ticker_update', function(data) {
        document.getElementById("xrp_change_rate").innerText = data.xrp_change_rate + "%";
        document.getElementById("xrp_volume").innerText = data.xrp_volume.toLocaleString() + " USDT";
    });

</script>
</body>
</html>
